# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
build/
dist/

# Dependenciy lock files
package-lock.json
yarn.lock

# IDE/Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
